{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% set layoutTitle = 'PrestaShop training' %}

{% block content %}
  <div class="row">
    <div class="col">
      {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': articleGrid} %}
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/training/views/public/grid.bundle.js') }}"></script>
{% endblock %}
